<!DOCTYPE html>
<html>
{include file="public/head"}
<body>
{include file="public/header"}
{include file="public/left"}
<div id="dcMain">
    <!-- 当前位置 -->
    <div id="urHere">管理中心<b>></b><strong>视频管理</strong> </div>   <div id="manager" class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3><a href="{:url('Building/video')}?id={$houseid}" class="actionBtn">返回列表</a>视频管理</h3>
    <form action="{:url('Building/video_add')}?id={$houseid}"  method="post" enctype="multipart/form-data">
        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
            <tr>
                <td width="100" align="right">视频外链</td>
                <td>
                    <!--<input type="file" name="video" size="40" class="inpMain" value="" />-->
					<input type="text" name="path" size="40" class="inpMain" value="" />
                    (注：请填写完整的地址，包括http/https，例:https://www.youtube.com/embed/MAjY8mCTXWk)
                </td>
            </tr>

            <tr>
                <td width="100" align="right">排序</td>
                <td>
                    <input type="number" name="sort" size="40" class="inpMain sort" value="" placeholder="数字越大越靠前" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="hidden" name="id" value="{$houseid}" />
                    <input type="hidden" name="token" value="5a58b748" />
                    <input type="submit" name="submit" class="btn" value="添加" />
                </td>
            </tr>
        </table>
    </form>
</div>
</div>
<div class="clear"></div>
{include file="public/foot"}
</body>
</html>