<!DOCTYPE html>
<html>

	<head lang="zh-cn">
		<meta charset="UTF-8">
		<title></title>
    <link rel="stylesheet" href="__STATIC__/index/css/rescss.css" />
		<link rel="stylesheet" href="__STATIC__/index/css/cooperation.css" />
	</head>

	<body>
		<div id="header">
			<!-- 头部公用 -->
			{include file="public/head"}
		</div>
		<div id="main" class="clear">
        <div class="left cooperBox">
            <div class="cooperDetaileBox clear">
                <div class="cooperImgBox left">
                   <img src="__STATIC__/index/image/floor2rightbanner-2.jpg" alt="">
                </div>
                <div class="cooperMsgBox">
                   <div class="cooperTitle">
                      频道共建
                   </div>
                   <div class="cooperMsg">
                      免费频道内容互换（频道共建）合作，资源互补、合作共赢，为彼此网站带来流量和品牌提升。
                   </div>
                </div>
            </div>
        </div>
        <div class="left cooperBox">
            <div class="cooperDetaileBox clear">
                <div class="cooperImgBox left">
                   <img src="__STATIC__/index/image/floor2rightbanner-2.jpg" alt="">
                </div>
                <div class="cooperMsgBox">
                   <div class="cooperTitle">
                      媒体支持
                   </div>
                   <div class="cooperMsg">
                      欢迎各类媒体、网站、出版社等与我们联系，希望在各类文字、资讯等传播方面能建立长期合作。
                   </div>
                </div>
            </div>
        </div>
        <div class="left cooperBox">
            <div class="cooperDetaileBox clear">
                <div class="cooperImgBox left">
                   <img src="__STATIC__/index/image/floor2rightbanner-2.jpg" alt="">
                </div>
                <div class="cooperMsgBox">
                   <div class="cooperTitle">
                      友情链接
                   </div>
                   <div class="cooperMsg">
                     双方利用现有的页面文字链接资源（如：首页文字链接，内页文字链接，新闻、资讯文字链接等）进行免费互换。
在资源互补、合作共赢的前提下，为彼此网站带来流量和品牌提升。
                   </div>
                </div>
            </div>
        </div>
        <div class="left cooperBox">
            <div class="cooperDetaileBox clear">
                <div class="cooperImgBox left">
                   <img src="__STATIC__/index/image/floor2rightbanner-2.jpg" alt="">
                </div>
                <div class="cooperMsgBox">
                   <div class="cooperTitle">
                      广告互换
                   </div>
                   <div class="cooperMsg">
                      双方利用现有的广告资源（如：首页广告位，内页广告位，新闻、资讯文字广告位等）进行免费互换。在资源互补、合作共赢的前提下，为彼此网站带来流量和品牌提升。
                   </div>
                </div>
            </div>
        </div>
        <div class="left cooperBox">
            <div class="cooperDetaileBox clear">
                <div class="cooperImgBox left">
                   <img src="__STATIC__/index/image/floor2rightbanner-2.jpg" alt="">
                </div>
                <div class="cooperMsgBox">
                   <div class="cooperTitle">
                      广告投放
                   </div>
                   <div class="cooperMsg">
                     楼花王大温地区十几个城市优质广告资源，期待开发商、广告主垂询合作（免费发布楼盘信息）！ 楼花王一条龙服务：广告制作、发布、投放
合作热线：
778-707-6368 Tina
604-374-6368 John
                   </div>
                </div>
            </div>
        </div>
        <div class="left cooperBox">
            <div class="cooperDetaileBox clear">
                <div class="cooperImgBox left">
                   <img src="__STATIC__/index/image/floor2rightbanner-2.jpg" alt="">
                </div>
                <div class="cooperMsgBox">
                   <div class="cooperTitle">
                      其他合作方式
                   </div>
                   <div class="cooperMsg">
                     我们热忱欢迎各大媒体、网站进行各类方式合作
                     合作负责人：Tina Yuan
                     E-MAIL:Tinayuan6368@gmail.com
                   </div>
                </div>
            </div>
        </div>

		</div>
		<div id="foot">
			{include file="public/foot"}
		</div>

	</body>

</html>
