<!DOCTYPE html>
<html>

	<head lang="zh-cn">
		<meta charset="UTF-8">
		<title></title>
    <link rel="stylesheet" href="__STATIC__/index/css/rescss.css" />
		<link rel="stylesheet" href="__STATIC__/index/css/cooperation.css" />
	</head>

	<body>
		<div id="header">
			<!-- 头部公用 -->
			{include file="public/head"}
		</div>
		<div id="main" class="clear">
        <div class="left cooperBox">
            <div class="cooperDetaileBox clear">
                <div class="cooperImgBox left">
                   <img src="{$list.channel_img}" alt="">
                </div>
                <div class="cooperMsgBox">
                   <div class="cooperTitle">
                      频道共建
                   </div>
                   <div class="cooperMsg">
                      {$list.channel_content}
                   </div>
                </div>
            </div>
        </div>
        <div class="left cooperBox">
            <div class="cooperDetaileBox clear">
                <div class="cooperImgBox left">
                   <img src="{$list.media_img}" alt="">
                </div>
                <div class="cooperMsgBox">
                   <div class="cooperTitle">
                      媒体支持
                   </div>
                   <div class="cooperMsg">
                      {$list.media_content}
                   </div>
                </div>
            </div>
        </div>
        <div class="left cooperBox">
            <div class="cooperDetaileBox clear">
                <div class="cooperImgBox left">
                   <img src="{$list.link_img}" alt="">
                </div>
                <div class="cooperMsgBox">
                   <div class="cooperTitle">
                      友情链接
                   </div>
                   <div class="cooperMsg">
                     {$list.link_content}
                   </div>
                </div>
            </div>
        </div>
        <div class="left cooperBox">
            <div class="cooperDetaileBox clear">
                <div class="cooperImgBox left">
                   <img src="{$list.adchange_img}" alt="">
                </div>
                <div class="cooperMsgBox">
                   <div class="cooperTitle">
                      广告互换
                   </div>
                   <div class="cooperMsg">
                      {$list.adchange_content}
                   </div>
                </div>
            </div>
        </div>
        <div class="left cooperBox">
            <div class="cooperDetaileBox clear">
                <div class="cooperImgBox left">
                   <img src="{$list.adsend_img}" alt="">
                </div>
                <div class="cooperMsgBox">
                   <div class="cooperTitle">
                      广告投放
                   </div>
                   <div class="cooperMsg">
                     {$list.adsend_content}
                   </div>
                </div>
            </div>
        </div>
        <div class="left cooperBox">
            <div class="cooperDetaileBox clear">
                <div class="cooperImgBox left">
                   <img src="{$list.other_img}" alt="">
                </div>
                <div class="cooperMsgBox">
                   <div class="cooperTitle">
                      其他合作方式
                   </div>
                   <div class="cooperMsg">
                     {$list.other_content}
                   </div>
                </div>
            </div>
        </div>

		</div>
		<div id="foot">
			{include file="public/foot"}
		</div>

	</body>

</html>
