<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>管理中心 - 网站管理员 </title>
    <meta name="Copyright" content="Douco Design." />
    <link href="__STATIC__/admin/css/public.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__STATIC__/admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/global.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/wangEditor.min.js"></script>
	<script type="text/javascript" src="__STATIC__/index/js/date/laydate.js"></script>
	
	
    <script type="text/javascript" charset="utf-8" src="__STATIC__/admin/umeditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__STATIC__/admin/umeditor/ueditor.all.min.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/umeditor/lang/zh-cn/zh-cn.js"></script>
    <!--<style>
    /*分页样式*/  
    .pagination{text-align:center;margin-top:20px;margin-bottom: 20px;}  
    .pagination li{margin:0px 10px; border:1px solid #e6e6e6;padding: 3px 8px;display: inline-block;}  
    .pagination .active{background-color: #dd1a20;color: #fff;}  
    .pagination .disabled{color:#aaa;}  
</style>-->
</head>