<div id="dcLeft"><div id="menu">
    <ul>
        <li><a href="{:url('Editmanager/manager')}"><i class="manager"></i><em>网站管理员</em></a></li>
        <!--
        <li><a href="nav.html"><i class="nav"></i><em>自定义导航栏</em></a></li>
        <li><a href="show.html"><i class="show"></i><em>首页幻灯广告</em></a></li>
        <li><a href="page.html"><i class="page"></i><em>单页面管理</em></a></li>
        -->
    </ul>

    <ul>
        <li><a href="{:url('Strategy/index')}"><i class="productCat"></i><em>看房攻略</em></a></li>
        <li><a href="{:url('Asking/index')}"><i class="productCat"></i><em>房产资讯</em></a></li>
    </ul>

    <ul>
        <li><a href="{:url('Area/index')}"><i class="productCat"></i><em>热门区域</em></a></li>
        <li><a href="{:url('Price/index')}"><i class="productCat"></i><em>价格区间/平尺</em></a></li>
        <li><a href="{:url('Price2/index')}"><i class="productCat"></i><em>价格区间/套</em></a></li>
        <li><a href="{:url('Layout/index')}"><i class="productCat"></i><em>户型划分</em></a></li>
        <li><a href="{:url('Theme/index')}"><i class="productCat"></i><em>特色主题</em></a></li>
        <li><a href="{:url('State/index')}"><i class="productCat"></i><em>楼盘状态</em></a></li>
    </ul>

    <ul>
        <li><a href="{:url('Building/index')}"><i class="productCat"></i><em>楼盘管理</em></a></li>
    </ul>
    <ul>
        <li><a href="{:url('SecondHouse/index')}"><i class="productCat"></i><em>房源审核</em></a></li>
    </ul>
    <ul>
        <li><a href="{:url('Ad/index')}"><i class="productCat"></i><em>广告管理</em></a></li>
    </ul>
    <ul>
        <li><a href="{:url('System/contact_us')}"><i class="productCat"></i><em>联系我们</em></a></li>
        <li><a href="{:url('System/network_marketing')}"><i class="productCat"></i><em>网络营销</em></a></li>
        <li><a href="{:url('System/recruit')}"><i class="productCat"></i><em>招聘信息</em></a></li>
        <li><a href="{:url('System/service')}"><i class="productCat"></i><em>服务声明</em></a></li>
    </ul>
    <ul>
        <li><a href="{:url('Advice/index')}"><i class="productCat"></i><em>意见反馈</em></a></li>
    </ul>
    <ul>
        <li><a href="{:url('Config/index')}"><i class="productCat"></i><em>底部配置</em></a></li>
    </ul>
</div></div>