<!DOCTYPE html>
<html>

	<head lang="zh-cn">
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__STATIC__/index/css/rescss.css" />
		<link rel="stylesheet" href="__STATIC__/index/css/dichanmaimai.css" />
		<style>
			.newsBox:first-child a span {
				color: #F7743C;
			}

			.newsBox:first-child {
				border-bottom: 1px dotted #ddd;
				padding-bottom: 5px;
			}
			#radioBox label{
				background:#F7F7F7;
				color:#000;
			}
			#radioBox label.active{
				background:#CC0000;
				color:#fff;
			}
		</style>
	</head>

	<body>
		<div id="header">
			<!-- 头部公用 -->
			{include file="public/head"}
		</div>
		<form action="{:url('Buyroom/dichanmaimai')}" method="get" id="form">
			<input type="hidden" class="area_form" name="area" value="{$data['area']}">
			<input type="hidden" class="price_form" name="price" value="{$data['price']}">
			<input type="hidden" class="layout_form" name="layout" value="{$data['layout']}">
			<input type="hidden" class="theme_form" name="theme" value="{$data['theme']}">
		</form>
		<div id="main" class="clear">
			<div id="leftMain" class="left">
				<!-- 选择框 -->
				<div id="radioBox">
					<!--热门区域-->
					<div class="radioSunBox clear">
						<div class="fenlei left">热门区域：</div>
						<div class="fenleiDetailes">
						<label <?php if($data['area']=='0') {echo "class='active'";}?>>
	                        <input type="radio" name="area_form" value="0"/>
	                        不限
	                    </label>
	                    {volist name='area' id='area'}
						<label <?php if($data['area']==$area->name) {echo "class='active'";}?>>
	                        <input type="radio" name="area_form" value="{$area.name}"/>
	                        {$area.name}
	                    </label>
	                    {/volist}
						</div>
					</div>
					<!--价格区间-->
					<div class="radioSunBox priceBox clear">
						<div class="fenlei left">价格区间：</div>
						<div class="fenleiDetailes ">
							<p style="line-height:30px;">单价/套（总价万元）</p>
							<label  <?php if($data['price']=='0') {echo "class='active'";}?>>
                <input type="radio" name="price_form" value="0"/>
                不限
            	</label>
            	{volist name='price' id='price'}
							<label <?php $pri=$price->min."--".$price->max; if($data['price']===$pri) {echo "class='active'";}?>>
                	<input type="radio" name="price_form" value="{$price.min}--{$price.max}"/>
                	{$price.min}--{$price.max==0 ? "以上" : $price.max}
            	</label>
            	{/volist}
							<div class="sureBox">
								<input type="number" name="price_min" value="{$data['price_min']}" class="min-price price_min" placeholder="最低"> --
								<input type="number" name="price_max" value="{$data['price_max']}" class="max-price price_max" placeholder="最高">万(加元)
								<span class="sureBtn priceSearch">确定</span>
							</div>
						</div>
					</div>
					<!--户型划分-->
					<div class="radioSunBox clear">
						<div class="fenlei left">户型划分：</div>
						<div class="fenleiDetailes">
						<label  <?php if($data['layout']=='0') {echo "class='active'";}?>>
                        	<input type="radio" name="layout_form" value="0"/>
                        不限
                    	</label>
                    	{volist name='layout' id='layout'}
                    	<label <?php if($data['layout']==$layout->name) {echo "class='active'";}?>>
                        	<input type="radio" name="layout_form" value="{$layout.name}"/>
                        	{$layout.name}
                    	</label>
						{/volist}
						</div>
					</div>
					<!--特色主题-->
					<div class="radioSunBox clear">
						<div class="fenlei left">建筑类型：</div>
						<div class="fenleiDetailes">

						<label  <?php if($data['theme']=='0') {echo "class='active'";}?>>
                        	<input type="radio" name="theme_form" value="0"/>
                        不限
                    	</label>
						{volist name='theme' id='theme'}
						<label <?php if($data['theme']==$theme->name) {echo "class='active'";}?>>
                        	<input type="radio" name="theme_form" value="{$theme.name}"/>
                        	{$theme.name}
                    	</label>
                    	{/volist}
						</div>
					</div>
					<div class="moreMsgBox">
						<div class="radioSunBox priceBox clear">
							<div class="fenlei left">房屋面积：</div>
							<div class="fenleiDetailes ">
								<label <?php if($data['house_s']=='0') {echo "class='active'";}?>>
		               <input type="radio" name="house_form" value="0"/>不限
		            </label>
								{volist name='house_s' id='house_s'}
								<label <?php $s=$house_s->min."--".$house_s->max; if($data['house_s']===$s) {echo "class='active'";}?>>
	                	<input type="radio" name="house_form" value="{$house_s.min}--{$house_s.max}"/>
	                	{$house_s.min}--{$house_s.max==0 ? "以上" : $house_s.max}
	            	</label>
	            	{/volist}
								<div class="sureBox">
									<input type="number" name="min" value="" class="min-price bigmin" placeholder="最低"> --
									<input type="number" name="max" value="" class="max-price bigmax" placeholder="最高">平尺
									<span class="sureBtn big">确定</span>
								</div>
							</div>
						</div>
						<div class="radioSunBox priceBox clear">
							<div class="fenlei left">土地面积：</div>
							<div class="fenleiDetailes ">
								<label  <?php if($data['land_s']=='0') {echo "class='active'";}?>>
		               <input type="radio" name="land_form" value="0"/>不限
		            </label>
								{volist name='land_s' id='land_s'}
								<label <?php $s=$land_s->min."--".$land_s->max; if($data['land_s']===$s) {echo "class='active'";}?>>
	                	<input type="radio" name="land_form" value="{$land_s.min}--{$land_s.max}"/>
	                	{$land_s.min}--{$land_s.max==0 ? "以上" : $land_s.max}
	            	</label>
	            	{/volist}
								<div class="sureBox">
									<input type="number" name="min" value="" class="min-price bigmin" placeholder="最低"> --
									<input type="number" name="max" value="" class="max-price bigmax" placeholder="最高">平尺
									<span class="sureBtn big">确定</span>
								</div>
							</div>
						</div>
						<div class="radioSunBox priceBox clear">
							<div class="fenlei left">交房时间：</div>
							<div class="fenleiDetailes ">
								<!-- <label>
		               <input type="radio" name="price_form" value="0"/>不限
		            </label> -->
								<div class="sureBox">
									<input type="text" name="min" value="" class="min-price bigmin" placeholder="最低">
									<span class="sureBtn big">确定</span>
								</div>
							</div>
						</div>
					</div>
					<div class="moreBox">
							<p class="moreBtn">查看更多</p>
					</div>
				</div>
				<form action="{:url('Buyroom/dichanmaimai')}" method="get" id="search">
					<div id="serchBox" class="clear">
						<input type="text" id="serchText" name="searchname" class="left searchname" />

						<div id="serchBtn" class="left">
							<b id="serchIcon"></b> 搜索
						</div>
						<div id="goGoogleBox" class="right">
							<b id="goGoogleIcon"></b>
							<a href="https://www.google.com/maps" target="_block" id="goGoogle">地图找房</a>
						</div>
					</div>
				</form>
				<div id="dateils" class="clear">
					<!--图片展示 循环区域-->
					{volist name='house' id='hou'}
					<div class="deteilsBox clear">
						<div class="deteilsImgBox left">
							<a href="{:url('Buyroom/maimai_detaile')}?id={$hou.id}">
								<img src="/static/{$imgs[$hou.id]}" alt="" />
							</a>
						</div>
						<div class="msgBox left">
							<h2 class="jieshao">
								<a href="{:url('Buyroom/maimai_detaile')}?id={$hou.id}">{$hou.title}
								</a>
							</h2>
							<div class="jianjieBox clear">
								<?php $price1=number_format($hou->price1,2);$price2=number_format($hou->price2,2);?>
								<div class="priceBox">
									<span class="maimaiprice">${$price1}/套（${$price2}/平尺）</span>
								</div>
								<div class="jianjie">
									<span class="tingshi">{$hou.layout}</span>
									<span class="shu">|</span>
									<span class="mianji">{$hou.house_acreage}平尺</span>
									<span class="shu">|</span>
									<span class="chaoxiang">{$hou.orientation}</span>
								</div>

							</div>
							<div class="diqu">
								<span class="shi">{$hou.hot_area}</span>
							</div>
						</div>
					</div>
					{/volist}
					<div id="fenye" class="clear">
						{$house->render()}
					</div>
				</div>

			</div>
			<div id="rightMain" class="left">
				<a href="{:url('Buyroom/maimaifabu')}">
					<div id="fabuBox">
						<b class="fbIcon"></b> 发布楼花房源
					</div>
				</a>
				<div id="rightUp">
					<div class="newHot">
						<b id="hotIcon"></b> 热点新盘
					</div>
					<div id="newDetaile">
						{volist name='hothouse' id='hothouse'}
						<div class="newsBox clear">
							<a href="{:url('Buyroom/maimai_detaile')}?id={$hothouse.id}" class="clear">
							<div class="clear">
								<span class="newTle shenglue left">{$hothouse.building}</span>
								<?php $area=explode(",",$hothouse->area)?>
								<span class="newDizhi right">{$area[0]}</span>
							</div>
							<p class="price">{$hothouse.price}</p>
							</a>
						</div>
						{/volist}

					</div>
				</div>
				<div id="rightMidImg">
					<img src="img/guanggao-1.jpg" alt="" />
				</div>
				<div id="rightDown">
					<img src="img/guanggaoTel-1.jpg" alt="" />
				</div>
			</div>
		</div>
		<div id="foot">
			{include file="public/foot"}
		</div>
		<script src="__STATIC__/index/js/jquery-1.11.3.js"></script>
		<script>
			$("#serchBtn").click(function(){
				var name=$.trim($(".searchname").val());
				if(name==""){
					alert("请输入查询条件");
					return false;
				}
				$("#search").submit();
			})
		</script>
		<script>
			var area="{$data['area']}";
			var price="{$data['price']}";
			var layout="{$data['layout']}";
			var theme="{$data['theme']}";
			$(function() {
				$('#radioBox').on('click', 'input', function() {
					$(this).addClass('active').siblings('.active').removeClass('active');
					var cla=$(this).attr('name');
					if(cla!="price_min" && cla!="price_max"){
						var val=$(this).val();
						$("."+cla).val(val);
						$("#form").submit();
					}

				});

				$(".priceSearch").click(function(){
					var price_min=$(".price_min").val();
					var price_max=$(".price_max").val();
					window.location.href="/index/buyroom/dichanmaimai?area="+area+"&price="+price+"&layout="+layout+"&theme="+theme+"&price_min="+price_min+"&price_max="+price_max;
				})

				/**
				 *
				 *      选择框 获取 value 功能  临时用的BUTTON
				 *
				 */
				$('button').click(function() {
					$.each($('#radioBox').find('input[type="radio"]'), function(i, e) {
						if($(e).is(':checked')) {
							alert($(e).val());
						}

					});
				});

				var openSession=0;
				var getOpen=sessionStorage.getItem('moreOpen');
				if(getOpen==1){
						$('.moreMsgBox').show();
						$('.moreBtn').text('收起');
				}else{
					$('.moreMsgBox').hide();
					$('.moreBtn').text('查看更多');
				}
				$('.moreBtn').click(function(){
						var more=$('.moreMsgBox').css('display');
						if(more=='none'){
							openSession=sessionStorage.setItem('moreOpen', 1);
							$('.moreMsgBox').fadeIn();
							$(this).text('收起');
						}else{
							openSession=sessionStorage.setItem('moreOpen', 0);
							$('.moreMsgBox').fadeOut(function(){
								$('.moreBtn').text('查看更多');
							});
						}
				})
			});
		</script>
	</body>

</html>
