<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="__STATIC__/index/css/rescss.css"/>
    <link rel="stylesheet" href="__STATIC__/index/css/maimaifabu.css"/>
    <!-- 文本编辑器 范围 -->
    <!--<link rel="stylesheet" href="kindeditor/themes/default/default.css" />-->

    <style>
      .ke-statusbar {
        display: none;
      }
      /* 测试范围 */

      #imgPreview {
        float: left;
        border: none;
      }

      #imgPreview img {
        margin-right: 10px;
        width: 50px;
        height: 50px;
      }

      .upload-img {
        background: #008800;
        color: #fff;
        padding: 10px 20px;
        margin: 5px 0;
        display: inline-block;
        border-radius: 5px;
      }
      /*//这儿是为了改变上传按钮样式把input设为了透明色*/

      #fileUpload {
        visibility: hidden;
        height: 0;
      }

      .imgBox {
        display: table-cell;
        width: 100px;
        height: 100px;
        vertical-align: middle;
        text-align: center;
      }

      .borderBox {
        border: 2px solid #ddd;
        margin-right: 20px;
        height: 100%;
      }
      /* 测试范围 */
    </style>
    <!-- 文本编辑器 范围 -->
</head>
<body>
<div id="header">
    <!-- 头部公用 -->
    {include file="public/head"}
</div>
<form action="{:url('Business/sendinfo')}" enctype="multipart/form-data"  method="post" id="form">
<div id="main" class="clear">
    <div id="leftMain" class="left">
        <div id="dateils" class="clear">
            <div class="deteilsBox left">
                <h2 class="hongxian">发布商业地产</h2>
                <!--攻略信息 循环区域-->
                <div class="deteilsMegBox">
                    <div class="inputBox">
                        <span class="leftTitle">标题：</span>
                        <input type="text" id="biaoti" class="inputBig title" name="title"/>
                    </div>
                    <!-- <div class="inputBox">
                        <span class="leftTitle">所属区域：</span>
                        <input type="text" id="chengshi" class="inputBig city" placeholder="请输入城市" name="city"/>
                        <input type="text" id="quyu" class="inputBig" placeholder="请输入区域" name="region"/>
                    </div> -->
                    <div class="inputBox">
                        <span class="leftTitle">热门区域：</span>
                        <select name="hot_area">
                        <option>请选择</option>
                        {volist name='area' id='area'}
                          <option value ="{$area.name}">{$area.name}</option>
                        {/volist}
                        </select>
                    </div>

                    <div class="inputBox">
                        <span class="leftTitle">详细地址：</span>
                        <input type="text" id="dizhi" class="inputBig address" name="address"/>
                        <!--<span>PS：可用地图查询地址</span>-->
                    </div>
					<!--
                    <div id="googleMapsBox">
                        <iframe width="898" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://ditu.google.cn/maps?f=q&amp;source=s_q&amp;hl=zh-CN&amp;geocode=&amp;output=embed"></iframe>
                        <iframe width="898" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://ditu.google.cn/maps?f=q&amp;source=s_q&amp;hl=zh-CN&amp;geocode=&amp;q=%E5%90%89%E6%9E%97%E7%9C%81%E9%95%BF%E6%98%A5%E4%BA%8C%E9%81%93%E5%8C%BA%E4%BB%99%E5%8F%B0%E5%A4%A7%E8%A1%971468%E5%8F%B7&amp;aq=0&amp;oq=%E5%90%89%E6%9E%97%E7%9C%81%E9%95%BF%E6%98%A5%E4%BA%8C%E9%81%93%E5%8C%BA%E4%BB%99%E5%8F%B0%E5%A4%A7%E8%A1%97146&amp;sll=43.849159,125.376878&amp;sspn=0.005115,0.00929&amp;brcurrent=3,0x5e384eb3f72ee7eb:0x2ba447d3bd324cc2,0,0x5e385df36dbd9a6f:0x9fc7d4f42756b198%3B5,0,0&amp;ie=UTF8&amp;hq=&amp;hnear=%E5%90%89%E6%9E%97%E7%9C%81%E9%95%BF%E6%98%A5%E4%BA%8C%E9%81%93%E5%8C%BA%E4%BB%99%E5%8F%B0%E5%A4%A7%E8%A1%971468%E5%8F%B7&amp;t=m&amp;z=14&amp;ll=43.856258,125.379522&amp;output=embed"></iframe>
                    </div>
					-->
					          <div class="inputBox">
                        <span class="leftTitle">建筑面积：</span>
                        <input type="number" id="mianji1" class="inputMid" name="house_acreage"/>尺
                        <span class="tip">PS：请输入数字</span>
                    </div>
                    <div class="inputBox">
                        <span class="leftTitle">土地面积：</span>
                        <input type="number" id="mianji2" class="inputMid" name="land_acreage"/>尺
                        <span class="tip">PS：请输入数字</span>
                    </div>
                    <div class="inputBox">
                        <span class="leftTitle">出售总价：</span>
                        <input type="number" id="chushou1" class="inputMid" name="price1"/>/套
                        <span class="tip">PS：请输入数字</span>
                    </div>
                    <!-- <div class="inputBox">
                        <span class="leftTitle">出售单价：</span>
                        <input type="number" id="chushou2" class="inputMid" name="price2"/>/平尺
                        <span class="tip">PS：请输入数字</span>
                    </div> -->
                    <!-- <div class="inputBox">
                        <span class="leftTitle">价格区间：</span>
                        <select name="price_period">
                        <option>请选择</option>
                        {volist name='price' id='price'}
                          <option value ="{$price.id}">{$price.min}--{$price.max}</option>
                        {/volist}
                        </select>
                    </div> -->
                    <!-- <div class="inputBox">
                        <span class="leftTitle">户型：</span>
                        <input type="number" id="fang" class="inputSmall" name="count1"/><span class="leftMargin">房</span>
                        <input type="number" id="ting" class="inputSmall" name="count2"/><span class="leftMargin">厅</span>
                        <input type="number" id="chu" class="inputSmall" name="count3"/><span class="leftMargin">厨</span>
                        <input type="number" id="wei" class="inputSmall" name="count4"/><span class="leftMargin">卫</span>
                    </div>
                    <div class="inputBox">
                        <span class="leftTitle">交房时间：</span>
                        <input type="number" id="fangling" class="inputBig" name="give_date" placeholder="请输入年份"/>
                    </div> -->
                    <!-- <div class="inputBox">
                        <span class="leftTitle">户型划分：</span>
                        <select name="layout_diff">
                        <option>请选择</option>
                        {volist name='layout' id='layout'}
                            <option value ="{$layout.name}">{$layout.name}</option>
                        {/volist}
                        </select>
                    </div> -->
                    <div class="inputBox">
                        <span class="leftTitle">建筑属性：</span>
                        <select name="poverty">
                        <option>请选择</option>
                          <option value ="生意买卖">生意买卖</option>
                          <option value ="商铺/写字楼">商铺/写字楼</option>
                          <option value ="土地">土地</option>
                          <option value ="农地">农地</option>
                        </select>
                    </div>
                    <div class="inputBox">
                        <span class="leftTitle">租售类型：</span>
                        <select name="transaction">
                        <option>请选择</option>
                          <option value ="出租">出租</option>
                          <option value ="出售">出售</option>
                        </select>
                    </div>
                    <!-- <div class="inputBox">
                        <span class="leftTitle">楼层：</span>
                        第<input type="number" class="inputSmall" oninput="if(value.length>2)value=value.slice(0,2)"   name="num"/><span class="leftMargin">层</span>

                        共<input type="number" class="inputSmall" oninput="if(value.length>2)value=value.slice(0,2)"  name="all"/><span class="leftMargin">层</span>

                    </div>

                    <div class="inputBox">
                        <span class="leftTitle">朝向：</span>
                        <input type="text" id="chaoxiang" class="inputBig" name="orientation"/>
                    </div>
                    <div class="inputBox">
                        <span class="leftTitle">车位：</span>
                        <input type="text" id="chewei" class="inputBig" name="car"/>
                    </div> -->
                    <!-- <div class="inputBox">
                        <span class="leftTitle">装修：</span>
                        <input type="text" id="zhuangxiu" class="inputBig" name="decorate"/>
                    </div> -->
                    <!-- <div class="cheackBox clear">
                        <div class="leftTitle left">配套：</div>
                        <div class="cheackBoxs clear">
                            <div class="left">
                              <input type="checkbox" id="reshuiqi" class="cheacks" value="热水器" name="assort[]"/><label for="reshuiqi">热水器</label>
                            </div>
                            <div class="left">
                              <input type="checkbox" id="meiqi" class="cheacks" value="煤气" name="assort[]"/><label for="meiqi">煤气</label>
                            </div>
                            <div class="left">
                              <input type="checkbox" id="bingxiang" class="cheacks" value="冰箱" name="assort[]"/><label for="bingxiang">冰箱</label>
                            </div>
                            <div class="left">
                              <input type="checkbox" id="chuju" class="cheacks" value="厨具" name="assort[]"/><label for="chuju">厨具</label>
                            </div>
                            <div class="left">
                              <input type="checkbox" id="xiyiji" class="cheacks" value="洗衣机" name="assort[]"/><label for="xiyiji">洗衣机</label>
                            </div>
                            <div class="left">
                              <input type="checkbox" id="hongganji" class="cheacks" value="烘干机" name="assort[]"/><label for="hongganji">烘干机</label>
                            </div>
                            <div class="left">
                              <input type="checkbox" id="chucangshi" class="cheacks" value="储藏室" name="assort[]"/><label for="chucangshi">储藏室</label>
                            </div>
                            <div class="left">
                              <input type="checkbox" id="xiwanji" class="cheacks" value="洗碗机" name="assort[]"/><label for="xiwanji">洗碗机</label>
                            </div>
                            <div class="left">
                              <input type="checkbox" id="weibolu" class="cheacks" value="微波炉" name="assort[]"/><label for="weibolu">微波炉</label>
                            </div>
                            <div class="left">
                              <input type="checkbox" id="kaoxiang" class="cheacks" value="烤箱" name="assort[]"/><label for="kaoxiang">烤箱</label>
                            </div>
                            <div class="left">
                              <input type="checkbox" id="kongtiao" class="cheacks" value="空调" name="assort[]"/><label for="kongtiao">空调</label>
                            </div>
                            <div class="left">
                              <input type="checkbox" id="dire" class="cheacks" value="地热" name="assort[]"/><label for="dire">地热</label>
                            </div>
                            <div class="left">
                              <input type="checkbox" id="jianshenfang" class="cheacks" value="健身房" name="assort[]"/><label for="jianshenfang">健身房</label>
                            </div>
                            <div class="left">
                              <input type="checkbox" id="youyongchi" class="cheacks" value="游泳池" name="assort[]"/><label for="youyongchi">游泳池</label>
                            </div>
                            <div class="left">
                              <input type="checkbox" id="zhengqifang" class="cheacks" value="蒸汽房" name="assort[]"/><label for="zhengqifang">蒸汽房</label>
                            </div>
                      </div>
                    </div> -->
                    <div id="imgUpLoader">
                      <p>上传图片：图片大小不能大于2M，最多15张</p>
                      <label for="fileUpload" class="upload-img">选择图片</label><span class="loadImg"></span>
                      <div id="fileBox">
                          <input id="fileUpload" accept="image/*" type="file" name="img[]"/>
                      </div>
                      <div class="chuanshu" style="display: none;">
                        <!-- <span>数据载入: </span> -->
                        <span id="bytesRead"></span>
                        <!--<span>/</span>
                        <span id="bytesTotal"></span>-->
                      </div>
                      <div id="dvPreview" class="clear"></div>
                    </div>

          					<div class="textBox" style="border-bottom:1px solid #ddd ; padding-bottom:30px;">
                        <span class="leftTitle" style="margin:15px 0;">基本信息：</span>
                        <textarea style="width:900px;height:200px;" name="info"></textarea>
          					</div>

                    <div class="inputBox">
                        <span class="leftTitle">联系人：</span>
                        <input type="text" id="lianxi" class="inputBig contact" name="contact"/>
                        <input  type="radio" name="card" value="0" checked>unlicensed
                        <input  type="radio" name="card" value="1" >licensed
                        <input  type="radio" name="card" value="2" >owned
                    </div>
                    <div class="inputBox">
                        <span class="leftTitle">联系电话：</span>
                        <input type="text" id="lianxidianhua" class="inputBig phone" name="phone"/>
                    </div>
                    <div class="inputBox">
                        <span class="leftTitle">电子邮箱：</span>
                        <input type="text" id="email" class="inputBig email" name="email"/>
                    </div>
                    <div class="inputBox">
                        <span class="leftTitle">微信：</span>
                        <input type="text" id="weixin" class="inputBig weixin" name="weixin"/>
                    </div>
                    <input type="hidden" name="type" value="2">
                    <div class="inputBox">
                        <a class="sub tijiaoBtn">提交资料</a>
                        <a href="{:url('Buyroom/dichanmaimai')}" class="ret tijiaoBtn">返回列表</a>
<!--                         <button class="tijiaoBtn" id="tijiao">提交资料</button>
                        <button class="tijiaoBtn" id="fanhui">返回列表</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rightMain" class="left">
        <a href="{$buy_up.url}" target="_blank">
          <img src="__STATIC__/{$buy_up.path}" alt="" class="maimaiAd">
        </a>
        <a href="{$buy_down.url}" target="_blank">
          <img src="__STATIC__/{$buy_down.path}" alt="" class="maimaiAd">
        </a>
        <!-- <h2 class="rightTitle">阅读排行</h2>
        <div class="paihangBox">
            <?php $id=1;?>
            {volist name='hothouse' id='hothouse'}
            <div class="yuduBox clear ">
                <div class="yuNum left">{$id}</div>
                <div class="yueMeg shenglue">
                    <a href="{:url('Buyroom/maimai_detaile')}?id={$hothouse.id}">{$hothouse.title}</a>
                </div>
            </div>
            <?php $id++;?>
            {/volist}
        </div> -->

    </div>
</div>
</form>
<div id="foot">
    {include file="public/foot"}
</div>
<script>
//执行一个laydate实例
laydate.render({
  elem: '#youxiao' //指定元素
});
$(function() {
        var img = "";
        var imgNum = 0; //上传图片总数
        var imgNames = [];
        var imgValue = [];
        $("#fileBox").on('change','#fileUpload',function() {
           // alert(1);
          var num = $(this).get(0).files.length;
          //                限制上传图片数量
          imgNum += num;

          if(imgNum > 15) {
            $('.loadImg').html('图片上传不得超过15张');
            imgNum -= num;
            return false;
          }
          //alert(2);
          //          查询 文件大小
          for(var i = 0; i < num; i++) {
            var imgSize = $(this).get(0).files[i].size;
            if(imgSize > 2097152) {
              $('.loadImg').html('上传图片大于2M...请选择小于2M的图片');
              return false;
            }
          }
          if(typeof(FileReader) != undefined) {
            $('.chuanshu').show();
            //$('.loadImg').html('图片上传中');
            var dvPreview = $("#dvPreview");
            var regex = /(.jpg|.jpeg|.gif|.png|.bmp)$/;
            //            获取一次行上传的数量
            $($(this).get(0).files).each(function(i, e) {
              var zongshu = 0;
              var baifenbi = 0;
              var file = $(this);
              if(regex.test(file[0].name.toLowerCase())) {
                var reader = new FileReader();

                reader.onloadstart = function() {
                  // 这个事件在读取开始时触发
                  //                  document.getElementById("bytesTotal").textContent = file[i].size;
                  zongshu = file[0].size;
                  console.log("onloadstart"+zongshu);


                }
                reader.onprogress = function(p) {
                  // 这个事件在读取进行中定时触发
                  //                  document.getElementById("bytesRead").textContent = p.loaded;
                  baifenbi =  parseFloat((p.loaded / zongshu).toFixed(2)) * 100;
                  console.log("baifenbi=" + baifenbi + "%");
                  //document.getElementById("bytesRead").textContent = baifenbi + "%";
                  $('#fileUpload').removeAttr('id').hide();
                  if(imgNum>=30){
                    $('.loadImg').html('一次性最多上传30张图');
                    return;
                  }else{
                    var html='<input id="fileUpload" accept="image/*" type="file"  name="img[]"/>';
                  }

                  $('#fileBox').append(html);
                }

                reader.onload = function(e) {
                  img = '<div class="borderBox left"><div class="imgBox"><img src="' + e.target.result + '" alt="" /><p class="delete">删除</p></div></div>';
                  dvPreview.append(img);
                  //$('.loadImg').html('图片上传完成');
                  //                获取文件名称
                  imgNames.push(file[0].name);
                }
                reader.readAsDataURL(file[0]);
              } else {
                alert("else了");
                alert(file[0].name + "is not a valid image file.");
                img = "";
                //                dvPreview.html("");
                return false;

              }

            });

          } else {

            alert("This browser does not support HTML5 FileReader.");

          }

        });

        // $('.dianwo').click(function() {

        //   alert(imgNames);
        // })
var deleteNum=0;

$("#dvPreview").on('click','.delete',function(){
  // $('.loadImg').html('');
  if(imgNum>=30){
     var htmls='<input id="fileUpload" accept="image/*" type="file"  name="img[]"/>';
  $('#fileBox').append(htmls);
  }
  imgNum--;
  deleteNum=$("#dvPreview .delete").index(this);
  $(this).parents('.borderBox').remove();
  $('#fileBox input').eq(deleteNum).remove();

});


$(".sub").click(function(){
        var title=$.trim($(".title").val());
        if(title==""){
            alert("请输入标题");
            return false;
        }
        var address=$.trim($(".address").val());
        if(address==""){
            alert("请输入详细地址");
            return false;
        }
        var contact=$.trim($(".contact").val());
        if(contact==""){
            alert("请输入联系人");
            return false;
        }
        var phone=$.trim($(".phone").val());
        if(phone==""){
            alert("请输入联系电话");
            return false;
        }
        var email=$.trim($(".email").val());
        if(email==""){
            alert("请输入邮箱");
            return false;
        }
        var mailReg = /^(\w-*\.*)+@(\w-?)+(\.\w{2,})+$/;
        if(!mailReg.test(email)){
          alert("邮箱格式有问题");
          return false;
        }
        $("#form").submit();
    })

      });





</script>
</body>
</html>
