<!DOCTYPE html>
<html>

	<head lang="zh-cn">
		<meta charset="UTF-8">
		<title></title>
		<link href="__STATIC__/index/css/css.css" type="text/css" rel="stylesheet" />
		<link rel="stylesheet" href="__STATIC__/index/css/rescss.css" />
		<link rel="stylesheet" href="__STATIC__/index/css/louhuayushou-detaile.css" />
	</head>

	<body>
		<div id="header">
			<!-- 头部公用 -->
			{include file="public/head"}
		</div>
		<div id="main" class="clear">
			<div class="mianbaoxie">
				<a href="{:url('Index/index')}">楼花王</a>
				<span>></span>
				<a href="louhuayushou.html">楼花预售</a>
				<span>></span>
				<span class="navName">{$build->name}</span>
			</div>
			<div class="mains clear">
				<div class="mainsLeft left">
					<div class="mainImgBox">
						<img class="mainImg" src="{$show.photo}" alt="" />
					</div>
					<div id="smallImgBox" class="clear">
						<button id="prevBtn"><</button>
						<button id="nextBtn">></button>
						<div id="mysloder" class="clear">
							{volist name="houseshow" id="house"}
							<div class="smallBigBox left">
								<div class="smallBox">
									<a href="{:url('Advancesale/louhuayushou_detaile')}?id={$house.building_id}&houseshowid={$house.id}">
										<img src="{$house.photo}" alt="" />
									</a>
								</div>
								<!--<div class="imgBgText">交通图</div>-->
							</div>
							{/volist}
						</div>

					</div>
				</div>
				<div class="mainsRight">
					<h1 class="loupanName">{$build->name}</h1>

					<div class="msgBox">
						<span>销售价格：</span>
						<span id="price">{$build->price}</span>
					</div>
					<div class="msgBox">
						<span>建筑类型：</span>
						<span>{$theme_name}</span>
					</div>
					<div class="msgBox">
						<span>项目地址：</span>
						<span>{$build->address}</span>
					</div>
					<div class="msgBox">
						<span>交工时间：</span>
						<span>{$build->finish_at}</span>
					</div>
					<div class="msgBox">
						<span>销售状态：</span>
						<span>{$state_name}</span>
					</div>

					<div class="telBox">
						<span>咨询电话：</span>
						<span class="hong">{$build->telephone}</span>
					</div>
					<div class="goGoogleBox">
						<a href="https://www.google.com/maps" class="goA">地图找房</a>
						<b class="goGoogleIcon"></b>
					</div>
				</div>
			</div>
			<div class="downMain clear">
				<div class="downLeft left">
					<div class="downNav clear">
						<!-- <div id="dongtai" class="left nav active">楼盘简介/动态</div> -->
						<div id="canshu" class="left nav active">参数详情</div>
						<div id="huxing" class="left nav">户型图</div>
					</div>
					<div class="downMsgBox clear">
						<div id="canshuBox" class="clear">
							<div class="downMsg left">
								<span>销售价格：</span>
								<span>{$build->price}</span>
							</div>
							<div class="downMsg left">
								<span>项目地址：</span>
								<span>{$build->address}</span>
							</div>
							<div class="downMsg left">
								<span>销售中心地址：</span>
								<span>{$build->sale_address}</span>
							</div>
							<div class="downMsg left">
								<span>所有权（产权）：</span>
								<span>{$build->ownership}</span>
							</div>
							<div class="downMsg left">
								<span>建筑类型/用途：</span>
								<span>{$build->purpose}</span>
							</div>
							<div class="downMsg left">
								<span>销售状态：</span>
								<span>{$state_name}</span>
							</div>
							<div class="downMsg left">
								<span>户数及层高：</span>
								<span>{$build->high}</span>
							</div>
							<div class="downMsg left">
								<span>施工状态：</span>
								<span>{$build->build_state}</span>
							</div>
							<div class="downMsg left">
								<span>交付时间：</span>
								<span>{$build->finish_at}</span>
							</div>
							<div class="downMsg left">
								<span>开发商：</span>
								<span>{$build->developer}</span>
							</div>
							<div class="downMsg left">
								<span>网站网址：</span>
								<span>{$build->web}</span>
							</div>
							<div class="downMsg left">
								<span>室内设计师：</span>
								<span>{$build->designer}</span>
							</div>
							<div class="downMsg left">
								<span>建筑师：</span>
								<span>{$build->architect}</span>
							</div>
							<div class="downMsg left">
								<span>销售公司：</span>
								<span>{$build->sale_company}</span>
							</div>
							<div class="downMsg left">
								<span>运营公司：</span>
								<span>{$build->operator}</span>
							</div>
							<div class="downMsg left">
								<span>设施：</span>
								<span>{$build->facilities}</span>
							</div>
						</div>

							<div id="dongtaiBox" class="clear">
								<div class="dongtaiTitle clear">
									<h3 class="left">动态资讯</h3>
									<div class="right">
									<a id="chakanA" href="{:url('BuildingDynamic/index')}?building_id={$build.id}">查看更多>></a>
									</div>
								</div>


						<!--开启循环模式-->
							{volist name="dynamic" id="dy"}
							<div class="dongtaiMsgBox">
								<div class="dongtaiTitleBox clear">
									<a href="{:url('BuildingDynamic/detail')}?id={$dy.id}&building_id={$build->id}">
										<div class="dtTitle left">
											{$dy.title}
										</div>
									</a>
									<div class="donttaiTime right">2018-01-15</div>
								</div>
								<div class="dongtaiTest">
									{$dy.content}
								</div>
							</div>
							{/volist}
						</div>
						<div id="huxingBox" class="clear">
							<!--开启循环模式-->
							{volist name="housetype" id="house"}
							<div class="huxingDetaileBox left">
								<div class="mtkBox">
									<a class="getimg" href="{$house.photo}">
									<div class="uxingImgBox">
										<img src="{$house.photo}" width="187px;" height="140px;" alt="" />
									</div>
									</a>
									<!--<div class="huxingTest">02/05房户型</div>-->
								</div>
								<div class="jianjieBox clear">
									<p class="left font upJli">{$house.type}</p>
									<p class="right font">{$house.acreage}</p>
								</div>
								<span class="zaishou">{$house.state==0 ? "在售" : ($house.state==1 ? "待售" : "售完")}</span>
								<!--<span class="daishou">待售</span>-->
								<!--<span class="shouwan">售完</span>-->
							</div>
							{/volist}
							<!--关闭循环模式-->
						</div>
					</div>
				</div>
				<!-- 右侧广告位 -->
				<div class="downRight right">
					<div class="guanggaoImgBox" style="width:267px;height:355px;">
						<!-- <img src="__STATIC__/index/image/guanggao-1.jpg" alt="" /> -->
						<?php $up=getBuildUpPath();?>
						<a href="{$up.url}" target="_block">
							<img src="__STATIC__/{$up.path}" width="100%" height="100%"  alt="" />
						</a>
					</div>
					<div class="guanggaoImgBox" style="width:267px;height:141px;">
						<!-- <img src="__STATIC__/index/image/guanggaoTel-1.jpg" alt="" /> -->
						<?php $down=getBuildDownPath();?>
						<a href="{$down.url}" target="_block">
							<img src="__STATIC__/{$down.path}" width="100%" height="100%" alt="" />
						</a>
					</div>
				</div>
			</div>
		</div>

		<div id="foot">
			{include file="public/foot"}
		</div>
		<script src="__STATIC__/index/js/jquery-1.11.3.js"></script>
		<script src="__STATIC__/index/js/jqueryLibrary.min.js"></script>
		<script src="__STATIC__/index/js/jquery.imgbox.pack.js"></script>
		<script>
			$(function() {

				$(".getimg").imgbox();
				$(".getimg1").imgbox({
					'speedIn'		: 0,
					'speedOut'		: 0,
					'alignment'		: 'center',
					'overlayShow'	: true,
					'allowMultiple'	: false
				});
				var smallBoxWidth = parseInt($('.smallBigBox').width()) + parseInt($('.smallBigBox').css("margin-left")) + parseInt($('.smallBigBox').css("margin-right"));
				var mySloderWidth = parseInt($('.smallBigBox').length) * (parseInt($('.smallBigBox').width()) + parseInt($('.smallBigBox').css("margin-left")) + parseInt($('.smallBigBox').css("margin-right")));
				var num = parseInt($('.smallBigBox').length) - 5;
				var sloder = 0;
				$('#mysloder').width(mySloderWidth);
				$('#nextBtn').click(function() {
					if(sloder < num) {
						sloder++;
						$('#mysloder').css('margin-left', "-" + parseInt(smallBoxWidth * sloder) + "px");
						console.log("sloder=" + sloder + "~num=" + num);
					}
				});
				$('#prevBtn').click(function() {
					if(sloder > 0) {
						sloder--;
						$('#mysloder').css('margin-left', "-" + parseInt(smallBoxWidth * sloder) + "px");
						console.log("sloder=" + sloder + "~num=" + num);
					}
				});

				$('#canshu').click(function() {
                    $('#canshuBox').show();
                    $('#dongtaiBox').show();
                    $('#huxingBox').hide();
                    $(this).addClass('active').siblings('.active').removeClass('active');
                });

                $('#huxing').click(function() {
                    $('#huxingBox').show().siblings().hide();
                    $(this).addClass('active').siblings('.active').removeClass('active');
                });

			});
		</script>
	</body>

</html>
