<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
{include file="public/head"}
<body>
{include file="public/header"}
{include file="public/left"}
<link rel="stylesheet" href="__STATIC__/admin/css/rescss.css">
<style media="screen">
.ke-statusbar {
  display: none;
}
/* 测试范围 */

#imgPreview {
  float: left;
  border: none;
}

#imgPreview img {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.upload-img {
  background: #008800;
  color: #fff;
  padding: 10px 20px;
  margin: 5px 0;
  display: inline-block;
  border-radius: 5px;
}
/*//这儿是为了改变上传按钮样式把input设为了透明色*/

#fileUpload {
  visibility: hidden;
  height: 0;
}

.delimg {
  color:#cc0000;
  cursor: pointer;
}

.imgBox {
  display: table-cell;
  width: 100px;
  height: 100px;
  vertical-align: middle;
  text-align: center;
}
.imgBox>img{
  width:100%;
  height:100%;
}
.borderBox {
  border: 2px solid #ddd;
  margin-right: 20px;
  height: 100%;
}
.delete:hover{
  color:#cc0000;
  cursor: pointer;
}
</style>
<div id="dcMain">
    <!-- 当前位置 -->
    <div id="urHere">管理中心<b>></b><strong>房源审核</strong> </div>   <div id="manager" class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3><a href="{:url('SecondHouse/index')}" class="actionBtn">返回列表</a>房源审核{$list->acreage}</h3>
    <form action="{:url('SecondHouse/edit')}"  method="post" id="form" enctype="multipart/form-data" >
        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
            <tr>
                <input type="hidden" name="type" value="{$list->type}">
                <td width="100" align="right">标题</td>
                <td width="400"><input type="text" name="title" value="{$list->title}"></td>
                <td width="100" align="right">热门区域</td>
                <td>
                    <select name="hot_area">
                        <option>请选择</option>
                        {volist name='areas' id='area'}
                          <option value ="{$area.name}" <?php if($list->hot_area==$area->name)echo 'selected';?>>{$area.name}</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr>
                <td width="100" align="right">详细地址</td>
                <td>
                    <input type="text" value="{$list->address}" name="address"/>
                </td>
                {if condition="$list->type==1"}
                <td width="100" align="right">交房时间</td>
                <td>
                    <input type="date"  name="give_date" value="{$list->give_date}"/>
                </td>
                {else}
                <td width="100" align="right">房龄</td>
                <td>
                    <input type="number"  name="age" value="{$list->age}"/>
                </td>
                {/if}
            </tr>
            <tr>
                <td width="100" align="right">房屋面积</td>
                <td>
                    <input type="number"  name="house_acreage" value="{$list->house_acreage}"/>
                </td>
                <td width="100" align="right">土地面积</td>
                <td>
                    <input type="number"  name="land_acreage" value="{$list->land_acreage}"/>
                </td>
            </tr>
            <tr>
                <td width="100" align="right">总价/套</td>
                <td>
                    <input type="number"  name="price1" value="{$list->price1}"/>
                </td>
                <td width="100" align="right">单价/平尺</td>
                <td>
                    <input type="number"  name="price2" value="{$list->price2}"/>
                </td>
            </tr>
            <tr>
                <td width="100" align="right">户型</td>
                <?php $layout=explode(",",$list->layout);?>
                <td>
                    <input type="text" name="count1" value="{$layout[0]}"/>
                    <input type="text" name="count2" value="{$layout[1]}"/>
                    <input type="text" name="count3" value="{$layout[2]}"/>
                    <input type="text" name="count4" value="{$layout[3]}"/>
                </td>
                <td width="100" align="right">朝向</td>
                <td>
                    <input type="text" name="orientation" value="{$list->orientation}"/>
                </td>
            </tr>
            <tr>
                <td width="100" align="right">车位</td>
                <td>
                    <input type="text" name="car" value="{$list->car}"/>
                </td>
                <td width="100" align="right">层高</td>
                <td>
                    <input type="text"  name="num" value="{$list->high}"/>
                </td>
            </tr>
            <tr>
                <td width="100" align="right">配套</td>
                <td>
                        <input type="checkbox" id="reshuiqi" class="cheacks" value="热水器" name="assort[]" <?php if(strpos($list->assort,'热水器') !==false)echo 'checked';?>/><label>热水器</label>
                        <input type="checkbox" id="meiqi" class="cheacks" value="煤气" name="assort[]" <?php if(strpos($list->assort,'煤气') !==false)echo 'checked';?>/><label>煤气</label>
                        <input type="checkbox" id="bingxiang" class="cheacks" value="冰箱" name="assort[]" <?php if(strpos($list->assort,'冰箱') !==false)echo 'checked';?>/><label>冰箱</label>
                        <input type="checkbox" id="chuju" class="cheacks" value="厨具" name="assort[]" <?php if(strpos($list->assort,'厨具') !==false)echo 'checked';?>/><label>厨具</label>
                        <input type="checkbox" id="xiyiji" class="cheacks" value="洗衣机" name="assort[]" <?php if(strpos($list->assort,'洗衣机') !==false)echo 'checked';?>/><label>洗衣机</label>
                        <input type="checkbox" id="hongganji" class="cheacks" value="烘干机" name="assort[]" <?php if(strpos($list->assort,'烘干机') !==false)echo 'checked';?>/><label>烘干机</label>
                        <input type="checkbox" id="chucangshi" class="cheacks" value="储藏室" name="assort[]" <?php if(strpos($list->assort,'储藏室') !==false)echo 'checked';?>/><label>储藏室</label>
                        <input type="checkbox" id="xiwanji" class="cheacks" value="洗碗机" name="assort[]" <?php if(strpos($list->assort,'洗碗机') !==false)echo 'checked';?>/><label>洗碗机</label>
                        <input type="checkbox" id="weibolu" class="cheacks" value="微波炉" name="assort[]" <?php if(strpos($list->assort,'微波炉') !==false)echo 'checked';?>/><label>微波炉</label>
                        <input type="checkbox" id="kaoxiang" class="cheacks" value="烤箱" name="assort[]" <?php if(strpos($list->assort,'烤箱') !==false)echo 'checked';?>/><label>烤箱</label>
                        <input type="checkbox" id="kongtiao" class="cheacks" value="空调" name="assort[]" <?php if(strpos($list->assort,'空调') !==false)echo 'checked';?>/><label>空调</label>
                        <input type="checkbox" id="dire" class="cheacks" value="地热" name="assort[]" <?php if(strpos($list->assort,'地热') !==false)echo 'checked';?>/><label>地热</label>
                        <input type="checkbox" id="jianshenfang" class="cheacks" value="健身房" name="assort[]" <?php if(strpos($list->assort,'健身房') !==false)echo 'checked';?>/><label>健身房</label>
                        <input type="checkbox" id="youyongchi" class="cheacks" value="游泳池" name="assort[]" <?php if(strpos($list->assort,'游泳池') !==false)echo 'checked';?>/><label>游泳池</label>
                        <input type="checkbox" id="zhengqifang" class="cheacks" value="蒸汽房" name="assort[]" <?php if(strpos($list->assort,'蒸汽房') !==false)echo 'checked';?>/><label>蒸汽房</label>

                </td>
				        <td width="100" align="right">联系电话</td>
                <td>
                    <input type="text" name="phone" value="{$list->phone}"/>
                </td>
            </tr>
            <tr>
                <td width="100" align="right">邮箱</td>
                <td>
                    <input type="text" name="email" value="{$list->email}"/>
                </td>
                <td width="100" align="right">微信</td>
                <td>
                    <input type="text"  name="weixin" value="{$list->weixin}"/>
                </td>
            </tr>
            <tr>
                <td width="100" align="right">联系人</td>
                <td>
                    <input type="text"  name="contact" value="{$list->contact}"/>
                </td>
				<td width="100" align="right">热点新盘</td>
                <td>
                <select name="is_hot">
                    <option value="0" <?php if($list->is_hot==0) echo "selected"?>>否</option>
                    <option value="1" <?php if($list->is_hot==1) echo "selected"?>>是</option>
                </select>
                </td>

            </tr>
            <tr>
                <td width="100" align="right">基本信息</td>
                <td>
                    <textarea style="width:900px;height:200px;" name="info">{$list->info}</textarea>
                </td>
				<td width="100" align="right">审核</td>
                <td>
                <select name="checkout">
                    <option value="0" <?php if($list->checkout==0) echo "selected"?>>待审核</option>
                    <option value="1" <?php if($list->checkout==1) echo "selected"?>>通过</option>
                    <option value="2" <?php if($list->checkout==2) echo "selected"?>>不通过</option>
                </select>
                </td>
            </tr>
            <tr>
              <td>添加图片</td>
              <td>
                <div id="imgUpLoader">
                  <p>上传图片：图片大小不能大于2M</p>
                  <label for="fileUpload" class="upload-img">选择图片</label><span class="loadImg"></span>
                  <div id="fileBox">
                      <input id="fileUpload" accept="image/*" type="file" name="img[]"/>
                  </div>
                  <div class="chuanshu" style="display: none;">
                    <!-- <span>数据载入: </span> -->
                    <span id="bytesRead"></span>
                    <!--<span>/</span>
                    <span id="bytesTotal"></span>-->
                  </div>
                  <div id="dvPreview" class="long-clear"></div>
                </div>
              </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="hidden" name="id" value="{$list->id}">
                    <div class="btn sub">修改</div>
                </td>
            </tr>
        </table>
        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
            {volist name="imgs" id="img"}
            <tr>
                <td>
                    <img src="__STATIC__{$img.path}"><a href="{:url('SecondHouse/delimg')}?id={$img.id}" class="delimg">删除</a>
                </td>
            </tr>
            {/volist}
        </table>
    </form>
</div>
</div>
<div class="clear"></div>
{include file="public/foot"}
<script>
    $(function(){
      var img = "";
      var imgNum = 0; //上传图片总数
      var imgNames = [];
      var imgValue = [];
      $("#fileBox").on('change','#fileUpload',function() {
         // alert(1);
        var num = $(this).get(0).files.length;
        //                限制上传图片数量
        imgNum += num;

        if(imgNum > 30) {
          $('.loadImg').html('图片上传不得超过30张');
          imgNum -= num;
          return false;
        }
        //alert(2);
        //          查询 文件大小
        for(var i = 0; i < num; i++) {
          var imgSize = $(this).get(0).files[i].size;
          if(imgSize > 2097152) {
            $('.loadImg').html('上传图片大于2M...请选择小于2M的图片');
            return false;
          }
        }
        if(typeof(FileReader) != undefined) {
          $('.chuanshu').show();
          //$('.loadImg').html('图片上传中');
          var dvPreview = $("#dvPreview");
          var regex = /(.jpg|.jpeg|.gif|.png|.bmp)$/;
          //            获取一次行上传的数量
          $($(this).get(0).files).each(function(i, e) {
            var zongshu = 0;
            var baifenbi = 0;
            var file = $(this);
            if(regex.test(file[0].name.toLowerCase())) {
              var reader = new FileReader();

              reader.onloadstart = function() {
                // 这个事件在读取开始时触发
                //                  document.getElementById("bytesTotal").textContent = file[i].size;
                zongshu = file[0].size;
                console.log("onloadstart"+zongshu);


              }
              reader.onprogress = function(p) {
                // 这个事件在读取进行中定时触发
                //                  document.getElementById("bytesRead").textContent = p.loaded;
                baifenbi =  parseFloat((p.loaded / zongshu).toFixed(2)) * 100;
                console.log("baifenbi=" + baifenbi + "%");
                //document.getElementById("bytesRead").textContent = baifenbi + "%";
                $('#fileUpload').removeAttr('id').hide();
                if(imgNum>=30){
                  $('.loadImg').html('一次性最多上传30张图');
                  return;
                }else{
                  var html='<input id="fileUpload" accept="image/*" type="file"  name="img[]"/>';
                }

                $('#fileBox').append(html);
              }

              reader.onload = function(e) {
                img = '<div class="borderBox left"><div class="imgBox"><img src="' + e.target.result + '" alt="" /><p class="delete">删除</p></div></div>';
                dvPreview.append(img);
                //$('.loadImg').html('图片上传完成');
                //                获取文件名称
                imgNames.push(file[0].name);
              }
              reader.readAsDataURL(file[0]);
            } else {
              alert("else了");
              alert(file[0].name + "is not a valid image file.");
              img = "";
              //                dvPreview.html("");
              return false;

            }

          });

        } else {

          alert("This browser does not support HTML5 FileReader.");

        }

  });

  var deleteNum=0;

  $("#dvPreview").on('click','.delete',function(){
    // $('.loadImg').html('');
    if(imgNum>=30){
       var htmls='<input id="fileUpload" accept="image/*" type="file"  name="img[]"/>';
    $('#fileBox').append(htmls);
    }
    imgNum--;
    deleteNum=$("#dvPreview .delete").index(this);
    $(this).parents('.borderBox').remove();
    $('#fileBox input').eq(deleteNum).remove();

  });


  $(".sub").click(function(){
      $("#form").submit();
  })

    })

</script>
</body>
</html>
