<div class="msgLeft left">
    <a href="callme.html">
    <div class="msgNavBox <?php if(getTitleSession()=='callme') echo 'active'?>">
        <span>联系我们</span>
        <b class="msgIcon"></b>
    </div>
    </a>
    <a href="network.html">
    <div class="msgNavBox <?php if(getTitleSession()=='network') echo 'active'?>">
        <span>网络营销</span>
        <b class="msgIcon"></b>
    </div>
    </a>
    <a href="information.html">
    <div class="msgNavBox <?php if(getTitleSession()=='information') echo 'active'?>">
        <span>招聘信息</span>
        <b class="msgIcon"></b>
    </div>
    </a>
    <a href="suggestion.html">
    <div class="msgNavBox <?php if(getTitleSession()=='suggestion') echo 'active'?>">
        <span>意见反馈</span>
        <b class="msgIcon"></b>
    </div>
    </a>
    <a href="service.html">
    <div class="msgNavBox <?php if(getTitleSession()=='service') echo 'active'?>">
        <span>服务声明</span>
        <b class="msgIcon"></b>
    </div>
    </a>
</div>