#main{
  width:1200px;
  margin:0 auto;
  background: #fff;
}
.cooperBox{
  width:50%;
  margin:40px 0;
}

.cooperImgBox{
  width:150px;
  height:150px;
  border-radius: 50%;
  overflow: hidden;
}

.cooperTitle{
  font-size: 24px;
  color:#cc0000;
}

.cooperMsgBox{
  padding:4px 20px;
  overflow: auto;
}
.cooperMsg{
  color:#3c3c3c;
  padding-top: 10px;
}

.cooperDetaileBox{
  padding:0 30px;
}
